<!doctype html>
<html class="no-js" lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Troy Motel | Bradford County PA</title>
  <meta name="description" content="Located off of U.S. Route 6, the Grand Army of the Republic Highway, Troy Motel offers a relaxing rustic atmosphere, old-fashioned hospitality, and clean &#38; affordable lodging to guests visiting The Endless Mountain region of Bradford County, Pennsylvania">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Troy Motel | Bradford County PA">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.troymotel.com/">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <p>Troy Motel</p>
  <script src="js/vendor/modernizr-{{MODERNIZR_VERSION}}.min.js"></script>
  <script src="js/app.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-G-HTNHXNJSWM-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
